<!DOCTYPE html>
<html lang="en">
<!--template for 2019年5月14日-->
<!--<%= new Date().getFullYear()+'/'+(new Date().getMonth()+1)+'/'+new Date().getDate()+' '+new Date().getHours()+':'+new Date().getMinutes() %>-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 忽略将页面上的数字识别为电话号码 -->
    <meta name="fomat-detection" content="telephone=no" />
    <!-- 忽略Android 平台中对邮箱地址的识别: -->
    <meta name="fomat-detection" content="email=no" />
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="app"></div>
</body>
</html>


