<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>input输入框</title>
    <script src="//vuejs.org/js/vue.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    <style>
        #app{
            margin: 50px 100px;
        }
    </style>
</head>

<body>
    <div id="app">
        <i-input v-model="value" placeholder="请输入..." style="width:300px;"></i-input>
        <br>
        <br>
        <i-input v-model="value1" placeholder="large" size="large"></i-input>
        <br>
        <i-input v-model="value2" placeholder="default"></i-input>
        <br>
        <i-input v-model="value3" placeholder="small" size="small"></i-input>

        <br>
        <i-input v-model="value14" placeholder="请输入..." style="width:300px;" clearable></i-input>
        <br>
        <br>
        <i-input v-model="value4" placeholder="请输入..." style="width:200px" icon="ios-clock-outline" @on-click="handlerClick"></i-input>

        <div>
            props:
            <i-input v-model="value5" placeholder="请输入..." prefix="ios-contact"></i-input>
            <i-input v-model="value6" placeholder="请输入..." suffix="ios-search"></i-input>
        </div>
        <div>
            slots:
            <i-input v-model="value7" placeholder="请输入...">
                <icon type="ios-contact" slot="prefix"></icon>
            </i-input>
            <i-input v-model="value8" placeholder="请输入...">
                <icon type="ios-search" slot="suffix"></icon>
            </i-input>
        </div>
        <br>
        <div>
            <i-input search placeholder="请输入..."></i-input>
            <i-input search enter-button placeholder="请输入..."></i-input>
            <i-input search enter-button="search" placeholder="请输入..."></i-input>
        </div>
        <br>
        <div>
            <i-input type="textarea" v-model="value9" placeholder="请输入..."></i-input>
            <i-input type="textarea" v-model="value10" placeholder="请输入..." :rows="4"></i-input>
        </div>

        <div>
            <i-input type="textarea" v-model="value11" :autosize="true" placeholder="请输入..."></i-input>
            <i-input type="textarea" v-model="value12" placeholder="请输入..." :autosize="{minRows:2,maxRows:5}"></i-input> 
        </div>
        <br>
        <div>
            <i-input v-model="value13">
                <span slot="prepend">http://</span>
                <span slot="append">.com</span>
            </i-input>
            <i-input v-model="value14">
                <i-select v-model="select1" slot="prepend" style="width:80px">
                    <i-option value="http">http://</i-option>
                    <i-option value="https">https://</i-option>
                </i-select>
                <i-select v-model="select2" slot="append" style="width:70px;">
                    <i-option value="com">.com</i-option>
                    <i-option value="cn">.cn</i-option>
                    <i-option value="org">.org</i-option>
                </i-select>
            </i-input>
            <i-input v-model="value15">
                <i-select v-model="select3" style="width:100px;" slot="prepend">
                    <i-option value="day">day</i-option>
                    <i-option value="month">mouth</i-option>
                </i-select>
                <i-button icon="ios-search" slot="append"></i-button>
            </i-input>
        </div>
        <br>
        <div>
            <poptip trigger="focus">
                <i-input v-model="value16" prefix="logo-usd" placeholder="enter number" style="width:300px;"></i-input>
                <div slot="content">
                    {{formatNumber}}
                </div>
            </poptip>
        </div>
    </div>
    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                value:"",
                value1:"",
                value2:"",
                value3:"",
                value14:'Hello World',
                value4:'',
                value5:"",
                value6:"",
                value7:"",
                value8:"",
                value9:'',
                value10:'',
                value11:"",
                value12:"",
                value13:"",
                value14:"",
                select1:"http",
                select2:"com",
                value15:"",
                select3:"day",
                value16:"",
            },
            methods:{
                handlerClick(){
                    console.log('我被点击了');
                },
            },
            computed:{
                formatNumber(){
                    if (this.value16==='') return 'enter number';
                    function parseNumber(str) {
                        const re = /(?=(?!)(d{3})+$)/g;
                        return str.replace(re, ',');
                    }
                    return parseNumber(this.value16);
                }
            }
        })
    </script>
</body>

</html>