<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>card卡片</title>
    <script src="//vuejs.org/js/vue.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    <style>
        #app {
            margin: 50px 100px;
        }
    </style>
</head>

<body>
    <div id="app">
        <card style="width:350px">
            <p slot="title">
                <icon type="ios-film-outline"></icon>
                Classic film
            </p>
            <a href="#" slot="extra" @click.prevent="changeLimit">
                <icon type="ios-loop-strong"></icon>
                Change
            </a>
            <ul>
                <li v-for="item in randomMovieList">
                    <a :href="item.url" target="_blank">{{item.name}}</a>
                    <span>
                        <icon type="ios-star" v-for="n in 4" :key="n"></icon>
                        <icon type="ios-star" v-if="item.rate >9.5"></icon>
                        <icon type="ios-star-half" v-else></icon>
                        {{item.rate}}
                    </span>
                </li>
            </ul>
        </card>

        <br>
        <br>
        <div style="background:#eee;padding:20px;">
            <card :border="false" :shadow="true">
                <p slot="title">No border title</p>
                <p>
                    content of no border.
                    content of no border.
                    content of no border.
                    content of no border.
                </p>
            </card>
        </div>

        <row>
            <i-col span="11">
                <card>
                    <p slot="title">The standard card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                </card>
            </i-col>
            <i-col span="11" offset="2">
                <card dis-hover>
                    <p slot="title">Disable card with hover shadows</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                    <p>Content of card</p>
                </card>
            </i-col>
        </row>

        <card style="width:320px;" :dis-hover="false">
            <div style="text-align:center;">
                <h3>wo</h3>
            </div>
        </card>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                movieList: [{
                        name: 'The Shawshank Redemption',
                        url: 'https://movie.douban.com/subject/1292052/',
                        rate: 9.6
                    },
                    {
                        name: 'Leon:The Professional',
                        url: 'https://movie.douban.com/subject/1295644/',
                        rate: 9.4
                    },
                    {
                        name: 'Farewell to My Concubine',
                        url: 'https://movie.douban.com/subject/1291546/',
                        rate: 9.5
                    },
                    {
                        name: 'Forrest Gump',
                        url: 'https://movie.douban.com/subject/1292720/',
                        rate: 9.4
                    },
                    {
                        name: 'Life Is Beautiful',
                        url: 'https://movie.douban.com/subject/1292063/',
                        rate: 9.5
                    },
                    {
                        name: 'Spirited Away',
                        url: 'https://movie.douban.com/subject/1291561/',
                        rate: 9.2
                    },
                    {
                        name: 'Schindler\'s List',
                        url: 'https://movie.douban.com/subject/1295124/',
                        rate: 9.4
                    },
                    {
                        name: 'The Legend of 1900',
                        url: 'https://movie.douban.com/subject/1292001/',
                        rate: 9.2
                    },
                    {
                        name: 'WALL·E',
                        url: 'https://movie.douban.com/subject/2131459/',
                        rate: 9.3
                    },
                    {
                        name: 'Inception',
                        url: 'https://movie.douban.com/subject/3541415/',
                        rate: 9.2
                    }
                ],
                randomMovieList: []
            },
            methods: {
                changeLimit() {
                    function getArrayItems(arr, num) {
                        const temp_array = [];
                        for (let index in arr) {
                            temp_array.push(arr[index]);
                        }
                        const return_array = [];
                        for (let i = 0; i < num; i++) {
                            if (temp_array.length > 0) {
                                const arrIndex = Math.floor(Math.random() * temp_array.length);
                                return_array[i] = temp_array[arrIndex];
                                temp_array.splice(arrIndex, 1);
                            } else {
                                break;
                            }
                        }
                        return return_array;
                    }
                    this.randomMovieList = getArrayItems(this.movieList, 5);
                }
            },
            mounted() {
                this.changeLimit();
            }
        })
    </script>
</body>

</html>