{
    "presets":[
        "env","react"
    ],
    "env":{
        "development":{
            "plugins":[
                [
                    "react-transform",{
                        "transform":[
                            {
                                "transform":"react-transform-hmr",
                                "import":["react"],
                                "locals":["module"]
                            }
                        ]
                    }
                ]
            ]
        }
    }
}